In [1]:
# manipulation des données
import numpy as np
import pandas as pd

# matplotlib et seaborn pour les représentations graphiques
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

# sklearn preprocessing pour le traiter les variables catégorielles
from sklearn.preprocessing import LabelEncoder

# Gestion du système de fichiers
import os

# Suppression des alertes
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("../Data/2.cleaned_dataset.csv")
df

,target,id,date,flag,user,text,words
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,awww thats bummer you shoulda got david carr ...,awww thats bummer shoulda get david carr third...
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he cant update his facebook by t...,upset cant update facebook texting might cry r...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,dived many times for the ball managed to save...,dive many time ball manage save rest go bound
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,whole body feel itchy like fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,no its not behaving at all im mad why am here ...,behaving im mad cant see
...,...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,just woke up having no school is the best feel...,woke school best feel ever
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,thewdbcom very cool to hear old walt interviews,thewdbcom cool hear old walt interview
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,are you ready for your mojo makeover ask me fo...,ready mojo makeover ask detail
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,happy th birthday to my boo of alll time tupac...,happy th birthday boo alll time tupac amaru sh...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy charitytuesday,happy charitytuesday

In [3]:
df[df['target']== 0]

,target,id,date,flag,user,text,words
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,awww thats bummer you shoulda got david carr ...,awww thats bummer shoulda get david carr third...
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he cant update his facebook by t...,upset cant update facebook texting might cry r...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,dived many times for the ball managed to save...,dive many time ball manage save rest go bound
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,whole body feel itchy like fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,no its not behaving at all im mad why am here ...,behaving im mad cant see
...,...,...,...,...,...,...,...
799995,0,2329205009,Thu Jun 25 10:28:28 PDT 2009,NO_QUERY,dandykim,sick spending my day laying in bed listening to,sick spending day lay bed listen
799996,0,2329205038,Thu Jun 25 10:28:28 PDT 2009,NO_QUERY,bigenya,gmail is down,gmail
799997,0,2329205473,Thu Jun 25 10:28:30 PDT 2009,NO_QUERY,LeeLHoke,rest in peace farrah so sad,rest peace farrah sad
799998,0,2329205574,Thu Jun 25 10:28:30 PDT 2009,NO_QUERY,davidlmulder,sounds like rival is flagging your ads not muc...,sound like rival flag ad much though
799999,0,2329205794,Thu Jun 25 10:28:31 PDT 2009,NO_QUERY,tpchandler,has to resit exams over summer wishes he worke...,resit exam summer wish work harder first year uni

In [4]:
df[df['target']== 4]

,target,id,date,flag,user,text,words
800000,4,1467822272,Mon Apr 06 22:22:45 PDT 2009,NO_QUERY,ersle,love guys the best,love guy best
800001,4,1467822273,Mon Apr 06 22:22:45 PDT 2009,NO_QUERY,becca210,im meeting up with one of my besties tonight c...,im meeting one besties tonight cant wait girl ...
800002,4,1467822283,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,Wingman29,thanks for the twitter add sunisa got to meet ...,thanks twitter add sunisa get meet hin show dc...
800003,4,1467822287,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,katarinka,being sick can be really cheap when it hurts t...,sick really cheap hurt much eat real food plus...
800004,4,1467822293,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,_EmilyYoung,he has that effect on everyone,effect everyone
...,...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,just woke up having no school is the best feel...,woke school best feel ever
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,thewdbcom very cool to hear old walt interviews,thewdbcom cool hear old walt interview
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,are you ready for your mojo makeover ask me fo...,ready mojo makeover ask detail
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,happy th birthday to my boo of alll time tupac...,happy th birthday boo alll time tupac amaru sh...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy charitytuesday,happy charitytuesday

In [11]:
df_neg = df[df['target']== 0].sample(500)
df_pos = df[df['target']== 4].sample(500)
liste_concat = [df_neg, df_pos]
df_sample = pd.concat([df_neg, df_pos], ignore_index=True)
df_sample = df_sample.sample(frac=1).reset_index(drop=True)
df_sample

,target,id,date,flag,user,text,words
0,4,2057709877,Sat Jun 06 13:30:55 PDT 2009,NO_QUERY,tweeteradder14,get followers day using wwwtweeteraddercom onc...,get follower day use wwwtweeteraddercom add ev...
1,4,1970275715,Sat May 30 03:11:00 PDT 2009,NO_QUERY,ono14991,pretty good thank you imperfectangel,pretty good thank imperfectangel
2,0,2000419665,Mon Jun 01 22:04:34 PDT 2009,NO_QUERY,kennypham,plane over my house right nowand wish could be...,plane house right nowand wish could wan na go ...
3,0,1985441614,Sun May 31 17:06:32 PDT 2009,NO_QUERY,jleviesquire,trying out uber twitter seems better than tiny...,try uber twitter seem well tiny twitter sorry ...
4,4,1977041913,Sat May 30 19:57:00 PDT 2009,NO_QUERY,LSully9,woo sounds like you had great day,woo sound like great day
...,...,...,...,...,...,...,...
995,0,2058739525,Sat Jun 06 15:32:09 PDT 2009,NO_QUERY,rumblepurr,it really does so whats the news with you sir,really whats news sir
996,4,2063795559,Sun Jun 07 04:06:19 PDT 2009,NO_QUERY,karob92,bruno asleep on the sofa,bruno asleep sofa
997,4,2182123994,Mon Jun 15 12:45:12 PDT 2009,NO_QUERY,teleken,want one for the ts now still have mine in bo...,want one t still mine box somewhere
998,4,2031935456,Thu Jun 04 10:31:53 PDT 2009,NO_QUERY,kittenfreaky,mine mine mine mine happy birthday to me happy...,mine mine mine mine happy birthday happy dance...
999,4,1694052048,Mon May 04 00:52:14 PDT 2009,NO_QUERY,franzne,touch my hand video simply amazing love it,touch hand video simply amaze love

In [12]:
sample_df = '../Data/2.sample_dataset.csv'
df_sample.to_csv(sample_df, index=False)